.container {
    margin-top: 70px;
}

.status {
    margin: 10px 0;
    font-size: var(--font-size-5);
}

textarea {
    width: 100%;
    height: 100px;
    padding: 15px;
    background-color: var(--color-black-3);
    border-radius: 15px;
    resize: none;
    outline: none;
    margin: 5px 0;
    font-size: var(--font-size-4);
}

.save-button {
    margin-right: 10px;
    background-color: var(--color-blue-1);
    padding: 11px;
    border-radius: 5px;
    color: var(--color-white);
    font-size: var(--font-size-5);
    font-weight: 500;
    cursor: pointer;
}

.save-button:hover {
    background-color: var(--color-blue-2);
}

.cancel-button {
    background-color: transparent;
    padding: 11px;
    border-radius: 5px;
    font-size: var(--font-size-5);
    cursor: pointer;
}

.cancel-button:hover {
    background-color: var(--color-black-3);
}